body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-cielo-rayos-sol_1048-2215.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
iframe{
margin-left: 400px;
}
#firstPage{
  height: 100vh;
  width: 100vh;
}
#nextPage{
  border-radius:5px;
  background-color: #6ea4e4;
  color:white;
  margin-top:-30px;
  margin-left:95vh;
  width:100px;
  height:50px;
  font-size:16px;
}
#homeButton{
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25%;
  width: 146px;
  height: 146px;
  top:3px;
  background-color: transparent;
  clip-path: circle(50% at 50% 50%);
  }

.homePage{
  height: 40px;
  width: 140px;
  border-radius: 5px;
}
#intro{
text-align: center;
font-size: 20px;
}

#bienvenida{
  text-align: justify;
  margin-left: 400px;
  font-size: 20px;
  height: 200px;
  width: 560px;
  }

#calculation{
  margin-top:120px;
  margin-left: 2px;
  font-size:17px;
  background-color:#6ea4e4;
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
  border-radius: 5px;
  }
#selection{
  background-color:#6ea4e4;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  margin-top: 120px;
  height: 10px;
  border-radius: 5px;
}


#results {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  margin: 25px;
  border-radius: 20px;
}
      
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}       
      
/*da la vuelta a la tarjeta*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
      
 /* posicion de cada lado de la tarjeta */
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 80%;
   height: 100%;
   backface-visibility: hidden;
        
}
      
/* lado de adelante */
.flip-card-front {
 background-color: #6ea4e4;
 width: 150px;
 height: 200px;
 margin: 15px;
 border-radius: 20px;
}
      
/* lado de atras */
.flip-card-back {
 background-color: #1d6cc9;
 width: 150px;
 height: 200px;
 margin: 15px;
 border-radius: 20px;        
 color: white;
 transform: rotateY(180deg);
}

 footer{
  font-family:  'Arial Narrow', Arial, sans-serif;
  background-color:#1d6cc9;
  color: white;
  text-align: center;
  text-align-last: center;
  margin: 20px;
  height: 20px;
  font-style: italic;
  }                  


/* Para tablets */
@media only screen and (min-width: 641px) and (max-width: 1007px){
  iframe{
    margin-left:120px;
width: 510px;
height: 265px;  }

    #results{
    width:100%;
    margin: 0px;
}
#homeButton{
  width:80px;
  height:80px;
}
#intro{
align-content:center;
}
#nextPage{
  margin-left:340px;
  margin-top:-5px;
}
#bienvenida{
  text-align:justify;
  margin-left:120px;
  margin-top:-3px;
  height: 150px;
  width:510px;
  
}
#selection{
  height: 60px;
  margin-top:130px;
  
}
#calculation{
  margin-top:130px;
}
}

/*Para celular*/
@media only screen and (min-width: 350px) and (max-width:640px){
  iframe{
    display: none;
  }
  #firstPage{
    display: none;
  }
    #results{
      margin: 0px;
      width:100%;
}
#intro{
  text-align: center;
  width: 100%;
  font-size:16px;
  margin-left: 58px;
  margin-top:7%
}
#bienvenida{
  display:none;
}
#homeButton{
width:80px;
height:80px;
margin-left: 0%;
margin-top:6%;
}
header{
  width: 90%;
}
}
#calculation{
  margin-top:20px;
}
#selection{
  margin:2px;
  flex-flow: wrap;
  text-align: center;
  height: 80px; 
  
}
footer{
  height: 40px;
}

